.card {
  background-color: whitesmoke;
  border-radius: 16px;
  padding: 1.5rem;
  margin: 10px;
/*   width: 30rem;
 */  height: 57vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow:4px 4px 4px 6px purple;
  
}
.emoji {
  font-size: 2.5rem;
}
.stars {
  color: #f5a623;
}

.imageContainer {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 0.75rem;
  background: pink;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
